.info-window-custom.has-arrow {
	position: relative;
}

.info-window-custom.has-arrow:after {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(213, 30, 73, 0);
}