/* Avca Social */
.social-icons li {
	padding: 5px;
	list-style-type: none;
}
.horizontal-social li {
	display: inline;
}
.avca-socials li {
    list-style-type: none;
}
.avca-socials a {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 2px;
	background: 0 0;
}
.avca-socials i {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 31px;
	transform: translate( -50%, -50% );
}
.circle-outline-soc a,
.circle-soc a {
	border-radius: 50%
}
.circle-soc a,
.boxed-soc a {
	background: #000;
}
.circle-outline-soc a,
.boxed-outline-soc a {
	border: 1px solid #333;
}