/*
 * Custom CSS AVCA based elements
 */

.avca-heading {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center;
}

.text-center {
	text-align: center;
}

.background-fixed {
	background-attachment: fixed;
	background-position: center;
}